<md-content layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
            layout-xl="column" flex="100"
            flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" layout-align="center"
            layout-align-xs="center" layout-align-sm="center" layout-align-md="center" layout-align-lg="center"
            layout-align-xl="center" ng-controller="uploadCtrl">

    <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
         flex="100" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" layout-align="center"
         layout-align-xs="center" layout-align-sm="center" layout-align-md="center" layout-align-lg="center"
         layout-align-xl="center">

        <h5>آپلود عکس:</h5>
        <div ngf-drop ngf-select ng-model="files" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
             accept="image/*"
             ngf-pattern="'image/*" ngf-max-height="1000" ngf-max-size="1MB"> عکس را به این ناحیه بکشید و رها کنید یا با کلیک انتخاب کنید
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    </div>
    <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
         flex="100" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" layout-align="center"
         layout-align-xs="center" layout-align-sm="center" layout-align-md="center" layout-align-lg="center"
         layout-align-xl="center">
        <h5>آپلود مدارک:</h5>
        <div ngf-drop ngf-select ng-model="files" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
             accept="image/*"
             ngf-pattern="'image/*" ngf-max-height="1000" ngf-max-size="1MB"> عکس را به این ناحیه بکشید و رها کنید یا با کلیک انتخاب کنید
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    </div>
        </div>
</md-content>