<div ng-controller="userCtrl" ng-init="initVars()" ng-cloak>
    <md-content layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex="100"
                flex-xs="100" flex-sm="100" flex-md="100"
                flex-xl="100">
        <form name="userForm" class="form" ng-submit="edit()" dir="rtl" flex="100" flex-sm="100" flex-md="100"
              flex-lg="100" flex-xl="100" novalidate>
            <!-- first row -->
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>نوع کاربر</label>
                    <input type="text" name="userType" ng-model="user.type" ng-disabled="true"/>
                    <div class="hint" ng-if="!investigate">وضعیت شما هنوز تایید نشده است،لطفا در اسرع وقت به تکمیل
                        اطلاعات خود بپردازید.
                    </div>
                </md-input-container>
                <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label for="fullName" ng-show="user.type != 'legalPerson'">نام کامل:</label>
                    <input type="text" id="fullName" name="fullName" ng-model="user.name" ng-disabled="false"
                           ng-maxlength="40"/> <!--REGEX -->
                    <div ng-messages="userForm.fullName.$error" ng-if="userForm.fullName.$touched">
                        <div ng-message="maxlength">نام طولانی تر از حد مجاز است!</div>
                        <div ng-message="pattern">لطفا نام را به لاتین وارد کنید و عدد مجاز نیست!</div>
                    </div>
                </md-input-container>
                <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-xl="25" class="md-block">
                    <label>نام کاربری:</label>
                    <input type="text" name="username" ng-model="user.username" ng-maxlength="15" ng-disabled="true"/>
                    <!--TODO: ask;technically username should ont be editable-->
                    <div ng-messages="userForm.username.$error" ng-if="userForm.username.$touched">
                        <div ng-message="minlength">نام کاربری حداقل 5 کاراکتر است.</div>
                        <div ng-message="maxlength">نام کاربری طولانی تر از حد مجاز است.</div>
                    </div>
                </md-input-container>
            </div>
            <!-- first row -->
            <!-- 2nd row -->
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>ایمیل:</label>
                    <input type="email" name="mail" ng-model="user.email" ng-pattern="emailPattern"/>
                    <div ng-messages="userForm.mail.$error" ng-if="userForm.mail.$touched">
                        <div ng-message="pattern">قالب ابمبل نامعتبر!!!</div>
                        <div ng-message="maxlength">رایانامه فوق طولانی!!</div>
                    </div>
                </md-input-container>
                <div flex="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>تاریخ تولد:</label>
                    <input type="text" name="birthdate" id="creationDate"/>
                </md-input-container>
                <input id="dateAltEdit" ng.model="user.date"/>
                <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>کدملی:</label>
                    <input type="text" name="nationalcode" ng-model="user.melli_code" ng-maxlength="10"
                           ng-minlength="10" md-maxlength="10"/>
                    <div ng-messages="userForm.nationalCode.$error" ng-if="userForm.nationalCode.$touched">
                        <div ng-message="maxlength">کدملی طولانی تر از 10 رقم است.</div>
                        <div ng-message="minlength">کدملی کم تر از 10 رقم است.</div>
                    </div>
                    <!--input validation -->
                </md-input-container>
            </div>
            <!-- 2nd row -->
            <!-- 3rd row -->
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>شماره موبایل:</label>
                    <input type="text" name="cellNumber" ng-model="user.mobile_phone" ng-minlength="11"
                           ng-maxlength="11"/>
                    <div ng-messages="userForm.cellNumber.$error" ng-if="userForm.cellNumber.$touched">
                        <div ng-message="maxlength">شماره همراه طولانی تر از 11 رقم است.</div>
                        <div ng-message="minlength">شماره همراه نامعتبر!</div>
                        <div ng-message="pattern">عدم همخوانی با شماره های اپراتورهای ایران!</div>
                    </div>
                </md-input-container>
                <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>تلفن ثابت:</label>
                    <input type="tel" name="phoneNum" ng-model="user.phone" ng-minlength="11" ng-maxlength="11"/>
                    <div ng-messages="userForm.phoneNum.$error" ng-if="userForm.phoneNum.$touched">
                        <div ng-message="maxlength">شماره تلفن طولانی تر از 11 رقم است.</div>
                        <div ng-message="minlength">شماره تلفن نامعتبر!</div>
                    </div>
                </md-input-container>
                <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>آدرس:</label>
                    <input type="text" name="address" ng-model="user.address"/>
                </md-input-container>
            </div>
            <!-- 3rd row -->
            <!-- 4th row -->
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">

                <md-input-container flex="25" flex-xs="70" flex-sm="70" flex-md="25" flex-lg="25" flex-xl="25"
                                    class="md-block">
                    <label>کدثبت:</label>
                    <input type="text" name="code" ng-model="user.code" ng-disabled="true"/>
                    <!--TODO:ask for it's pattern-->
                </md-input-container>
                <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                <md-input-container flex="55" flex-xs="55" flex-sm="70" flex-md="70" flex-lg="55" flex-xl="55"
                                    class="md-block">
                    <textarea ng-model="user.description" name="description" columns="8" md-maxlength="21844" rows="1"
                              placeholder="توضیحاتت رو اینجا بنویس..." id="textAreas"></textarea>
                </md-input-container>

            </div>
            <!-- 4th row -->
            <div md-theme="NewTheme" layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                 layout-xl="row"
                 layout-align="center center" layout-align-xs="center center" layout-align-sm="center center"
                 layout-align-md="center center" layout-align-lg="center center" layout-align-xl="center center">
                <md-button class="md-raised md-accent md-hue-2" type="submit">
                    اعمال تغییرات
                </md-button>
                <md-button class="md-raised md-warn md-hue-2" ng-click="takeMeHome()">
                    انصراف
                </md-button>
            </div>
        </form>
    </md-content>
</div>