<md-content layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
            layout-xl="column" dir="rtl" layout-align="center" flex="100" flex-xs="100" flex-sm="100" flex-md="100"
            flex-lg="100" flex-xl="100">
    <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
         layout-align="center" layout-align-sx="center" layout-align-sm="center" layout-align-md="center"
         layout-align-lg="center" layout-align-xl="center">
        <div layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
             layout-xl="column">
            <p>مپ کد، یک سرویس بانک اطلاعات کشوری مبتنی بر نقشه است.</p>
            <p>در مپ کد شما می توانید به معرفی کسب و کار خود بپردازید، همچنین می توانید از نزدیکترین محل نیازمندی های
                خود باخبر شوید. </p>
            <p>با مپ کد در هر لحظه و هر مکان می توانید علاقه مندی های خود را با دوستانتان به اشتراک بگذارید.</p>
            <p>جهت کسب اطلاعات بیشتر به منوی راهنما مراجعه نمایید.</p>
        </div>
</md-content>