<md-content layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
            layout-xl="column" dir="rtl" layout-align="center">
    <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
         layout-align="center" layout-align-sx="center" layout-align-sm="center" layout-align-md="center"
         layout-align-lg="center" layout-align-xl="center">
        <p>اطلاعات مربوط به قسمت تماس با ما در این قسمت درج خواهد شد.</p>
    </div>
</md-content>