<md-content layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
            layout-xl="column" dir="rtl" layout-align="center">

    <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
         layout-align="center" layout-align-sx="center" layout-align-sm="center" layout-align-md="center"
         layout-align-lg="center" layout-align-xl="center">

        <div layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
             layout-xl="column">
            <p>شما در مپ کد می توانید با کمترین هزینه ممکن به معرفی کسب و کار خود در یک جامعه آماری بزرگ بپردازید. </p>
            <p>همچنین می توانید مکان های مورد علاقه خود را با دوستانتان به اشتراک بگذارید و یا مکان جغرافیایی یک محل خاص
                را در گوشی خود ذخیره نمایید. </p>
            <p>شما در مپ کد پس از ثبت نام و تایید آن توسط کارشناسان ما می توانید متناسب با نیازهای خود از خرید اقدام به خرید اعتبار لازم جهت خرید نقطه نمایید </p>
            <p>و پس از خرید اعتبار لازم اقدام به ثبت نقاط خود در سامانه و به اشتراک گذاری ان در جامعه مپ کد نمایید.</p>
        </div>
    </div>
</md-content>