<div ng-controller="registerCtrl" ng-init="initvars()" ng-cloak>
     <div ng-include="'./templates/Registeration/RegHeader.html'"></div>
        <md-content layout="row">
           <form name="registrationForm" ng-submit="submit()" dir="rtl" flex="100" style="padding:15px 10px 0 0;" novalidate>
               <!-- first row -->
               <div layout="row" layout-xs="row">
               <label flex="30"> من یک شخص :</label>
               <md-radio-group layout="row" flex="80"  ng-model="user.type">
                   <md-radio-button flex="auto"  value="naturalPerson">حقیقی هستم</md-radio-button>
                   <md-radio-button flex="auto"  value="legalPerson">حقوقی هستم</md-radio-button>
               </md-radio-group>
                   </div>
               <!-- first row -->
               <!-- 2nd row -->
               <div layout="row" layout-xs="column">
                <md-input-container flex="25" flex-xs="70" class="md-block">
                    <label for="fullName" ng-show="user.type != 'legalPerson'">نام کامل:</label>
                    <label ng-show="user.type == 'legalPerson'">نام شرکت:</label>
                    <input type="text" id="fullName" name="fullName" ng-model="user.name" required ng-disabled="user.type!= 'naturalPerson'" ng-maxlength="40" /> <!--REGEX -->
                    <div ng-messages="registrationForm.fullName.$error" ng-if="registrationForm.fullName.$touched">
                        <p ng-message="required">وارد کردن نام  الزامی است.</p>
                        <p ng-message="maxlength">نام  طولانی تر از حد مجاز است!</p>
                    </div>
                </md-input-container>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>ایمیل:</label>
                       <input type="email" name="mail" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required/>
                   </md-input-container>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>نام کاربری:</label>
                       <input type="text" name="username" ng-model="user.username" ng-maxlength="15" required />
                       <div ng-messages="registrationForm.username.$error" ng-if="registrationForm.username.$touched">
                           <p ng-message="required">وارد کردن نام کاربری الزامی است.</p>
                           <p ng-message="maxlength">نام کاربری طولانی تر از حد مجاز است.</p>
                       </div>
                   </md-input-container>
                   </div>
               <!-- 2nd row -->
               <!-- 3rd row -->
               <div layout="row" layout-xs="column">
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>کلمه عبور:</label>
                       <input type="text" name="password" ng-model="user.password" ng-minlength="8" required/>
                       <div ng-messages="registrationForm.password.$error" ng-if="registrationForm.password.$touched">
                           <p ng-message="required">وارد کردن رمز الزامی است.</p>
                           <p ng-message="minlength">رمز ضعیف است!</p>
                       </div>
                   </md-input-container>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>تکرار کلمه عبور:</label>
                       <input type="text" name="passRepeat" ng-model="user.passRepeat" ng-minlength="8" required/>
                       <div ng-messages="registrationForm.passRepeat.$error" ng-if="registrationForm.passRepeat.$touched">
                           <p ng-message="required">وارد کردن تکرار رمز فراموش شده است!</p>
                       </div>
                   </md-input-container>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>کدملی:</label>
                       <input type="text" name="nationalcode" ng-model="user.melli_code" required ng-disabled="user.type!= 'naturalPerson'" ng-maxlength="10" ng-minlength="10" md-maxlength="10"/>
                       <!--input validation -->
                       <div ng-messages="registrationForm.nationalCode.$error" ng-if="registrationForm.nationalCode.$touched">
                           <p ng-message="required">وارد کردن کدملی الزامی است.</p>
                           <div ng-message="maxlength">کدملی طولانی تر از 10 رقم است.</div>
                           <div ng-message="minlength">کدملی کم تر از 10 رقم است.</div>
                       </div>
                       <!--input validation -->
                   </md-input-container>
               </div>
               <!-- 3rd row -->
               <!-- 4th row -->
               <div layout="row" layout-xs="column">
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label ng-show="user.type != 'legalPerson'">تاریخ تولد:</label>
                       <label ng-show="user.type == 'legalPerson'">تاریخ ثبت:</label>
                       <input type="text" name="birthdate" id="Bdate" required />
                       <!--<input id="dateALT" ng.model="user.date"/> -->
                       <div ng-messages="registrationForm.birthdate.$error" ng-if="registrationForm.birthdate.$touched">
                           <p ng-message="required">وارد کردن تاریخ تولد الزامی است.</p>
                           </div>
                   </md-input-container>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>شماره موبایل:</label>
                       <input type="text" name="cellNumber" ng-model="user.mobile_phone" ng-minlength="11" ng-maxlength="11" required />
                       <div ng-messages="registrationForm.cellNumber.$error" ng-if="registrationForm.cellNumber.$touched">
                           <p ng-message="required">وارد کردن شماره همراه الزامی است.</p>
                           <div ng-message="maxlength">شماره همراه طولانی تر از 11 رقم است.</div>
                           <div ng-message="minlength">شماره همراه نامعتبر!</div>
                       </div>
                   </md-input-container>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>تلفن ثابت:</label>
                       <input type="tel" name="corpName" ng-model="user.Corpname" required ng-disabled="user.type!= 'legalPerson'" ng-minlength="11" ng-maxlength="11"/> <!-- ?phone number instead -->
                       <div ng-messages="registrationForm.cellNumber.$error" ng-if="registrationForm.cellNumber.$touched">
                           <p ng-message="required">وارد کردن شماره تلفن الزامی است.</p>
                           <div ng-message="maxlength">شماره تلفن طولانی تر از 11 رقم است.</div>
                           <div ng-message="minlength">شماره تلفن نامعتبر!</div>
                       </div>
                   </md-input-container>
               </div>
               <!-- 4th row -->
               <!-- 5th row -->
               <div layout="row" layout-xs="column">
                   <md-input-container flex="25" flex-xs="70" class="md-block">
                       <label>کدثبت:</label> <!-- what it looks like -->
                       <input type="text" name="code" ng-model="user.code" required ng-disabled="user.type!= 'legalPerson'"/>
                   </md-input-container>
                   <div flex="5"></div>
                   <div flex="25" flex-xs="70">
                       <md-checkbox ng-model="user.isRecommended" class="md-warn md-align-bottom-right">از طریق  معرف با سایت آشنا شدم</md-checkbox>
                   </div>
                   <div flex="5"></div>
                   <md-input-container flex="25" flex-xs="70" class="md-block" >
                       <label>کد معرف:</label>
                       <input type="text" name="recommender" ng-model="user.recommender" required ng-disabled="!user.isRecommended" ng-minlength="8" ng-maxlength="8"/>
                   </md-input-container>
               </div>
               <!-- 5th row -->
               <div md-theme="docs-dark"  layout="row" layout-xs="row" layout-align="center center">
                   <md-button class="md-raised md-accent md-hue-2" ng-click="levelPage(2)">
                       تایید و ادامه
                   </md-button>
                   <md-button class="md-raised md-warn md-hue-2" ng-click="levelPage(0)">
                       انصراف
                   </md-button>
               </div>
           </form>
</md-content>
    </div>