@font-face {
    font-family: Koodak;
    src: url('../font/koodak.ttf');
}
body{
    font-family:Koodak;
}
#mainHeader{
    /*font-family: Koodak;*/
    border: 1px solid #0f0f0f;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px #585858;
}
#BdateALT{
    display: none;
}
#loginForm{
    width:500px; height:350px; margin: auto; margin-top: 5em;background: transparent;
}
.loginInput{
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: Koodak, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    display: block;
}
.loginMSGs{
    color: yellow;
    font-size:10px;

}
.red{
    border: solid 1px red;
}
#Bdate{
    font-family: Koodak;
    color: darkred;
}
/* ###########################################################################################################*/
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 350px !important;
    width: 85vw !important;
    max-width: 415px !important;
}

/*Vertical Tabs*/
.vertical-mdl-tabs {
    /* margin-top: 30px; */
    margin-right: 0px;
}
.vertical-mdl-tabs .mdl-tabs__tab-bar { /*the whole box */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-left: 1px solid rgba(10, 11, 49, 0.20);
    width:45px;
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    padding: 0 0 0 0px;
    line-height: 35px;
    box-sizing: border-box;
    /*letter-spacing: 1px;*/
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-left: 2px solid #9b010e;
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 0px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: right;
    font-family:Koodak, Times, serif;
}
/* ###########################################################################################################*/
/* The side navigation menu */
.sidenav {
    height: inherit; /* 100% Full-height */
    width: inherit; /* 0 width - change this with JavaScript */
    float:right;
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden;/* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.25em;
    color: #818181;
    display: inline-block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.SNav_items{
    display: block;
    border-bottom: 1px dashed black;
}
/* ************************************************************************************************************* */
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }

/* ################################################################################## */
.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 8px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: darkred; }
/* ################################################################################################## */
.form{
    padding:15px 10px 0 0;
}
#creationDate{
    font-family: Koodak;
    color: darkred;
}
#dateAltEdit{
    display: none;
}
#SearchBox{
    width:300px;
    border-radius: 2px;
    font-family: Koodak;
}
 .card-media {
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden; }

.card-media md-icon {
    width: 40px;
    height: 40px;
     }

.colorsdemoBasicUsage span.card-title {
    padding-left: 15px;
    margin-top: 20px; }

/* contact chip */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* contact chip */
#searchIcon
{
    position: absolute;
    bottom: 4px;
    left:3px;
}
#Myusercard{
    margin-top: 30px;
}
md-card.md-docs-dark-theme{
    background-color: transparent;
}