@import url('../font/css/fontiran.css');

body {
    font-family: IRANSans !important;
    font-weight: 300;
    direction: rtl;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea {
    font-family: IRANSans !important;
}

h1 {
    font-weight: bold;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.ltr {
    direction: ltr;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-small {
    font-size: 0.8em;
}

.text-xsmall {
    font-size: 0.6em;
}

.text-large {
    font-size: 1.2em;
}

.text-xlarge {
    font-size: 1.4em;
}

.text-underline {
    text-decoration: underline;
}

.text-ultralight {
    font-weight: 200;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: normal;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

blockquote {
    font-weight: 500;
    padding: 10px;
    border: 1px dashed #666666;
}

.mainbox {
    width: 100%;
    background-color: #EFEFEF;
    display: table;
    margin-bottom: 30px;
    border-right: 8px solid #FFFF33;
}

.mainboxnegativ {
    width: 100%;
    background-color: #000000;
    display: table;
    margin-bottom: 30px;
    border-right: 8px solid #FFFF33;
    color: #F9F9F9;
}

.mainbox2 {
    font-size: 1em;
    width: 90%;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainbox3 {
    width: 100%;
    background-color: #b8b8b8;
    display: table;
    margin-bottom: 30px;
    border-right: 8px solid #bd70ff;
}

.mainbox2negativ {
    font-size: 1em;
    color: #F9F9F9;
    background-color: #000000;
    padding-right: 20px;
}

.farsiparagraph {
    font-size: 1em;
    width: 47%;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.englishparagraph {
    font-size: 1em;
    width: 47%;
    float: left;
    direction: ltr;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.rightbox {
    width: 60%;
    padding-right: 20px;
    padding-left: 5px;
    float: right;
    margin-left: 10px;
    margin-bottom: 0px;
    min-width: 0px;
    background-color: #F7F7F7;

}

.titelbox {
    width: 60%;
    padding-right: 25px;
    padding-left: 0px;
    float: right;
    margin-left: 10px;
    margin-bottom: 0px;
    min-width: 0px;
    background-color: #F2F2F2;
    color: #4B4B4B;
}

.lefttbox {

    padding-right: 20px;
    padding-left: 4px;
    float: right;
    margin-bottom: 10px;
    min-width: 0px;
}

.alphabet {
    width: 35%;
    float: left;
    font-size: 21em;
    text-align: center;
    font-weight: 500;
    color: #999999;
}

.alphabet2 {
    width: 35%;
    float: left;
    direction: ltr;
    font-size: 1.6em;
    text-align: left;
    font-weight: 500;
    color: #333333;
    margin-top: 100px;
}

.footer {
    font-weight: 300;
    font-size: 0.7em;
    text-align: center;
    direction: ltr;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* #############################3$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.mainHeader {
    /*font-family: Koodak;*/
    border-bottom: 1px solid #0f0f0f;
    box-shadow: 0 2px 6px 2px #585858;
}

#BdateALT {
    display: none;
}

.loginInput {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: Koodak, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    display: block;
    /* margin-bottom: 15px; */
}

.loginMSGs {
    color: yellow;
    font-size: 10px;
}

.red {
    border: solid 1px red;
}

#Bdate {
    font-family: Koodak;
    color: darkred;
}

#searchInput {
    width: 400px;
    height: 40px;
    background: #F5F7F4;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: #546E7A;
    padding: 0 16px 0 32px;
    text-shadow: none;
    transition: all .3s;
    font-family: IRANSans, Koodak, sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;

}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: 34px;
    top: 1px;
    color: #070707;
    cursor: pointer;
    width: 0;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.errorMsg {
    color: black;
    font-size: 10px;
}

.errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
}

.md-tab-label { /* meh */
    width: 100%;
}

/* ###########################################################################################################*/
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250px !important;
    width: 85vw !important;
    max-width: 300px !important;
}

/*Vertical Tabs*/
.vertical-mdl-tabs {
    /* margin-top: 30px; */
    margin-right: 0px;
}

.vertical-mdl-tabs .mdl-tabs__tab-bar { /*the whole box */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-left: 1px solid rgba(10, 11, 49, 0.20);
    width: 45px;
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    padding: 0 0 0 0px;
    line-height: 35px;
    box-sizing: border-box;
    /*letter-spacing: 1px;*/
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-left: 2px solid #9b010e;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 0px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: right;
    font-family: Koodak, Times, serif;
}

/* ###########################################################################################################*/
/* The side navigation menu */
.sidenav {
    height: inherit; /* 100% Full-height */
    width: inherit; /* 0 width - change this with JavaScript */
    float: right;
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 1.10em;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
    margin-bottom: -10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* ************************************************************************************************************* */
.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

/* ################################################################################## */
.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 8px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: darkred;
}

/* ################################################################################################## */
.form {
    padding: 15px 10px 0 0;
}

#creationDate {
    font-family: Koodak;
    color: darkred;
}

#dateAltEdit {
    display: none;
}

#SearchBox {
    width: 300px;
    border-radius: 2px;
    border: 1px solid white;

    font-family: Koodak;
}

md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder {
    color: #FDFE67 !important;
}

.card-media {
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
}

.card-media md-icon {
    width: 40px;
    height: 40px;
}

.colorsdemoBasicUsage span.card-title {
    padding-left: 15px;
    margin-top: 20px;
}

/* contact chip */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* contact chip */
#searchIcon {
    position: absolute;
    bottom: 4px;
    left: 3px;
}

#Myusercard {
    margin-top: 35px;
}

md-card.md-docs-dark-theme {
    background-color: transparent;
}

md-checkbox {
    padding-left: 0px;
/ / was 10 px
}

md-checkbox .md-label {
    margin-left: 0px;
/ / was 18 px padding-left: 28 px;
/ / was null
}

.menuItems {
    cursor: pointer;
}

.menuItem {
    font-family: Koodak;
}

/* ############################################################################################################### */
md-grid-list {
    margin: 8px;
}

.gray {
    background: #f5f5f5;
}

.green {
    background: #b9f6ca;
}

.yellow {
    background: #ffff8d;
}

.blue {
    background: #05fff5;
}

.purple {
    background: #b80cff;
}

md-grid-tile {
    transition: all 400ms ease-out 50ms;
}

.iconSvg {
    width: 50%;
    height: 30%;
}

.iconSvg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}
