<md-content ng-controller="loginCtrl" ng-init="init()" layout-align="center end" layout-align-sm="center end"
            layout-align-md="center end" layout-align-xs="center end" layout-padding
            style="height:100%;background-image: url('../../img/BGs/milad tower.jpg');background-repeat: no-repeat;background-size: 100% 100%;">
    <form name="loginForm" id="loginForm" layout="column" layout-md="column" layout-sm="column" layout-xl="column"
          layout-align="center center" layout-align-sm="center center" layout-align-md="center center"
          layout-align-xl="center center"
          ng-submit="loginForm.$valid && login.submit()" ng-cloak>
        <div layout="column" layout-sm="column" layout-md="column" layout-xl="column" layout-align="center center"
             layout-align-sm="center center" layout-align-md="center center" layout-align-xl="center center" flex="100"
             flex-sm="100" flex-md="100" flex-xl="100">
            <!-- <span style="width:25px;height: 25px; " flex="40" class="fa fa-user-circle-o fa-lg"></span> -->
            <div layout="column" layout-md="column" layout-sm="column" layout-align="center center"
                 layout-align-sm="center center" layout-align-md="center center">
                <input type="text" class="loginInput" required name="username" placeholder="نام کاربری:"
                       ng-model="user.username" ng-minlength="5" ng-maxlength="15"
                       ng-class="{red: loginForm.username.$invalid && loginForm.username.$touched }">
                <div class="loginMSGs" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
                    <div ng-message="required">نام کاربری را وارد کنید!</div>
                    <div ng-message="maxlength">نام کاربری طولانی!</div>
                    <div ng-message="minlength">نام کاربری حداقل باید 5 کاراکتر باشد.</div>
                </div>
            </div>
            <div flex="5" flex-sm="5" flex-md="5"></div>
            <div layout="column" layout-sm="column" layout-md="column" layout-align="center center"
                 layout-align-md="center center" layout-align-sm="center center">
                <input type="password" class="loginInput" required name="pass" placeholder="رمز عبور :" ng-minlength="6"
                       ng-model="user.pass"
                       ng-class="{red: loginForm.username.$invalid && loginForm.username.$touched }">
                <div class="loginMSGs" ng-messages="loginForm.pass.$error" ng-if="loginForm.pass.$touched">
                    <div ng-message="required">رمز عبور را وارد کنید!</div>
                    <div ng-message="minlength">رمز نامعتبر!</div>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-sm="row" layout-md="row" md-theme="docs-dark" flex="10"
                 flex-md="10" flex-sm="10">
                <md-button class="md-raised  md-accent md-hue-2" type="submit">
                    ورود
                </md-button>

                <md-button class="md-raised  md-warn md-hue-2" ng-click="register()">
                    ثبت نام
                </md-button>
            </div>
        </div>
    </form>

</md-content>