<md-content ng-controller="loginCtrl"  layout-align="center center" >
    <div style="border:1px solid black; border-radius:4px; width: 500px; box-shadow: 0 2px 6px 2px #585858; paddin:100px; margin: auto;">
                <form name="loginForm" layout="column" layout-align="center center"  ng-cloak>
                    <div flex-xs="75" flex-sm="55" flex-gt-sm="25">
                       <div layout="row">
                            <md-input-container class="md-icon-float md-block">
                               <!-- <span style="width:25px;height: 25px; " flex="40" class="fa fa-user-circle-o fa-lg"></span> -->
                               <input type="text" required name="username" placeholder="نام کاربری:" ng-model="user.userName">
                             </md-input-container>
                       </div>
                       <md-input-container class="md-icon-float md-block">
                           <!-- <span class="fa fa-lock fa-lg"></span> -->
                           <input type="text" required name="password" placeholder="رمز عبور :" ng-model="user.pass">
                        </md-input-container>

                       <div layout-gt-xs="row" layout-xs="column" md-theme="docs-dark">
                           <md-button flex-gt-xs="45" class="md-raised md-accent md-hue-2" ng-click="login()">
                ورود
                          </md-button>
                        <div flex></div>
                        <md-button flex-gt-xs="45" class="md-raised md-warn md-hue-2" ng-click="register()">
                ثبت نام
                         </md-button>
                        </div>
                      </div>
                 </form>
        </div>
        </md-content>