<md-dialog flex="60" flex-xs="80" flex-sm="60" flex-md="60" flex-lg="60" flex-xl="60" aria-label="AddNewPoint"
           ng-controller="pointCtrl"
           ng-init="initPoint()">
    <md-toolbar md-theme="Khaz" class="md-warn md-hue-2">
        <div dir="rtl" class="md-toolbar-tools" layout="row" layout-xs="row" layout-sm="row" layout-md="row"
             layout-lg="row" layout-xl="row">
            <h2 class="md-display-2">نقطه جدید اضافه می کنیم(:</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-lg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="addPoint" class="form" dir="rtl" flex="100" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100"
          flex-xl="100" ng-submit="addPoint.$valid && submit()" novalidate>
        <md-dialog-content layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row">
            <div class="md-dialog-content" dir="rtl" layout-align="center" layout-align-xs="center"
                 layout-align-sm="center" layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                    <md-input-container flex="35" flex-xs="70" flex-sm="70" flex-md="35" flex-lg="35" flex-xl="35"
                                        class="md-block">
                        <label>نام نقطه</label>
                        <input type="text" name="PointName" ng-model="point.name" ng-minlength="1" ng-maxlength="30"
                               ng-pattern="namePattern" required/>
                        <div ng-messages="addPoint.PointName.$error" ng-if="addPoint.PointName.$touched">
                            <div ng-message="required"> نام نقطه ضروریه.</div>
                            <div ng-message="maxlength">نام طولانی تر از حد مجازه!</div>
                            <div ng-message="pattern">لطفا نام فارسی وارد کنید!</div>
                        </div>
                    </md-input-container>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                    <md-input-container flex="35" flex-xs="70" flex-sm="70" flex-md="35" flex-lg="35" flex-xl="35"
                                        class="md-block">
                        <label>طول جغرافیایی</label>
                        <input type="text" name="latitude" ng-model="point.lat" required ng-disabled="true"/>
                        <div ng-messages="addPoint.latitude.$error" ng-if="addPoint.latitude.$touched">
                            <div ng-message="required"> پربودن این قسمت ضروریه.</div>
                        </div>
                    </md-input-container>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                    <md-input-container flex="35" flex-xs="70" flex-sm="70" flex-md="35" flex-lg="35" flex-xl="35"
                                        class="md-block">
                        <label>عرض جغرافیایی</label>
                        <input type="text" name="langitude" ng-model="point.lng" ng-disabled="true" required/>
                        <div ng-messages="addPoint.langitude.$error" ng-if="addPoint.langitude.$touched">
                            <div ng-message="required"> پربودن این قسمت ضروریه.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                    <md-input-container flex="35" flex-xs="70" flex-sm="70" flex-md="35" flex-lg="35" flex-xl="35"
                                        class="md-block">
                        <label>استان</label>
                        <input type="text" name="province" ng-model="point.province" ng-minlength="1" ng-maxlength="25"
                               ng-pattern="namePattern" required/>
                        <div ng-messages="addPoint.province.$error" ng-if="addPoint.province.$touched">
                            <div ng-message="required"> نام استان ضروریه.</div>
                            <div ng-message="maxlength">نام طولانی تر از حد مجازه!</div>
                            <div ng-message="pattern">لطفا نام فارسی وارد کنید!</div>
                        </div>
                    </md-input-container>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                    <md-input-container flex="35" flex-xs="70" flex-sm="70" flex-md="35" flex-lg="35" flex-xl="35"
                                        class="md-block">
                        <label>شهر</label>
                        <input type="text" name="city" ng-model="point.city" ng-minlength="1" ng-maxlength="25"
                               ng-pattern="namePattern" required/>
                        <div ng-messages="addPoint.city.$error" ng-if="addPoint.city.$touched">
                            <div ng-message="required"> نام شهر ضروریه.</div>
                            <div ng-message="maxlength">نام طولانی تر از حد مجازه!</div>
                            <div ng-message="pattern">لطفا نام فارسی وارد کنید!</div>
                        </div>
                    </md-input-container>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                    <md-input-container flex="35" flex-xs="70" flex-sm="70" flex-md="35" flex-lg="35" flex-xl="35"
                                        class="md-block">
                        <label>شماره تماس</label>
                        <input name="PhoneNumber" type="text" ng-model="point.phone" ng-minlength="11" ng-maxlength="11"
                               md-maxlength="11" ng-pattern="phonePattern" required/>
                        <div ng-messages="addPoint.PhoneNumber.$error" ng-if="addPoint.PhoneNumber.$touched">
                            <div ng-message="required">وارد کردن شماره تماس ضروریه.</div>
                            <div ng-message="maxlength">شماره تماس طولانی!</div>
                            <div ng-message="pattern">لطفا تنها عدد وارد کنید!</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                    <md-input-container flex="50" flex-xs="70" flex-sm="70" flex-md="50" flex-lg="50" flex-xl="50"
                                        class="md-block">
                        <textarea type="text" name="address" ng-model="point.address" columns="8" rows="2"
                                  ng-maxlength="21844" md-maxlength="21844" placeholder="آدرس" required></textarea>
                        <div ng-messages="addPoint.address.$error" ng-if="addPoint.address.$touched">
                            <div ng-message="required">آدرس بدید لطفا!</div>
                            <div ng-message="maxlength">آدرس خیلی طولانی شدا!</div>
                        </div>
                    </md-input-container>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                    <md-input-container flex="50" flex-xs="50" flex-sm="70" flex-md="50" flex-lg="50" flex-xl="50"
                                        class="md-block">
                            <textarea name="description" ng-model="point.description" columns="8" ng-maxlength="21844"
                                      md-maxlength="21844" rows="2" placeholder="توضیحاتت رو اینجا بنویس..."
                                      id="textAreas"></textarea>
                        <div ng-messages="addPoint.description.$error" ng-if="addPoint.description.$touched">
                            <div ng-message="maxlength">دیگه خیلی داری توضیح میدی!</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                    <md-input-container flex="50" flex-xs="70" flex-sm="70" flex-md="50" flex-lg="50" flex-xl="50"
                                        class="md-block">
                        <label>انتخاب سردسته:</label>
                        <md-select name="HeadCat" ng-model="HeadCat" md-on-open="loadCats()" required>
                            <md-option ng-value="key" ng-repeat="(key,value) in cats">{{key}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                    <md-input-container flex="50" flex-xs="70" flex-sm="70" flex-md="50" flex-lg="50" flex-xl="50"
                                        class="md-block">
                        <label>انتخاب دسته:</label>
                        <md-select name="category" ng-if="HeadCat" ng-model="point.category" required>
                            <md-option ng-value="subcat" ng-repeat="subcat in subcats">{{subcat}}</md-option>
                        </md-select>
                        <div ng-messages="addPoint.category.$error" ng-if="addPoint.category.$touched">
                            <div ng-message="required">انتخاب دسته ضروریه.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
                    <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-xl="row" layout-fill
                         layout-margin layout-align='start center' layout-align-xs="start center"
                         layout-align-sm="start center" layout-align-md="start center" layout-align-lg="start center"
                         layout-align-xl="start center">
                        <h5 style="width: 50px;margin-bottom:-35px; ">تگ ها:*</h5>
                        <md-chips name="tags" ng-model="point.tags" readonly="false" md-removable="true"
                                  md-max-chips="5" md-enable-chip-edit="true"
                                  placeholder="تگ ها را با enter از هم جدا کنید" required>
                            <md-chip-template>
                                <strong>{{$chip}}</strong>
                            </md-chip-template>
                        </md-chips>
                        <div ng-messages="addPoint.tags.$error">
                            <div ng-message="md-max-chips">حداکثر تعداد تگ وارد شده است.</div>
                        </div>
                    </div>
                    <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container flex="70" flex-xs="70" flex-sm="70" flex-md="70" flex-lg="70" flex-xl="70"
                                        class="md-block" layout-align='start center' layout-align-xs="center center"
                                        layout-align-sm="center center" layout-align-md="center center"
                                        layout-align-lg="center center" layout-align-xl="center center">
                        <md-checkbox ng-model="point.public" class="md-warn md-hue-4 " ng-true-value="'1'"
                                     ng-false-value="'0'" aria-label="IsPublic">این مکان :یک مکان عمومی است.
                        </md-checkbox>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions md-theme="docs-dark" layout="row" layout-xs="row" layout-sm="row" layout-md="row"
                           layout-lg="row" layout-xl="row" layout-align="center center" layout-align-xs="center center"
                           layout-align-sm="center center" layout-align-md="center center"
                           layout-align-lg="center center" layout-align-xl="center center">
            <md-button flex="50" flex-xs="50" flex-sm="50" flex-md="50" flex-lg="50" flex-xl="50"
                       class="md-raised md-accent md-hue-2 md-block" type="submit"> نقطه رو ثبت کن
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>