<md-dialog aria-label="reviewPointInfo" >
    <md-toolbar md-theme="NewTheme" class="md-primary md-hue-2">
        <div dir="rtl" class="md-toolbar-tools" layout="row">
            <h2 class="md-display-2">خرید بسته</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-lg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-fill layout="column"  layout-align="center">
        <div layout="row" layout-align="center" flex="50">
            <md-grid-list md-cols="4" md-row-height="fit" style="height: 400px; background-color: darkred;">
                <md-grid-tile></md-grid-tile>
            </md-grid-list>
        </div>
    </md-dialog-content>
</md-dialog>