<md-dialog aria-label="reviewPointInfo" ng-controller="paymentCtrl" ng-init="initPayment()" flex="80" flex-xs="80"
           flex-sm="80" flex-md="80" flex-lg="80" flex-xl="80">
    <md-toolbar md-theme="NewTheme" class="md-primary md-hue-2">
        <div dir="rtl" class="md-toolbar-tools" layout="row" layout-xs="row" layout-sm="row" layout-md="row"
             layout-lg="row" layout-xl="row">
            <h2 class="md-display-2">خرید بسته</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-lg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
                       ng-cloak>
        <div layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
             layout-xl="column" layout-fill>
            <md-grid-list
                    md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-lg="3" md-cols-xl="3"
                    md-row-height="4:6" md-row-height-sm="6:6" md-row-height-md="6:6" md-row-height-lg="4:6"
                    md-row-height-xl="4:6" md-gutter="12px" md-gutter-xs="8px" md-gutter-sm="8px"
                    md-gutter-md="12px" md-gutter-lg="12px" md-gutter-xl="8px">

                <md-grid-tile class="yellow" md-rowspan="1" md-rowspan-xs="1" md-rowspan-sm="1" md-rowspan-md="1"
                              md-rowspan-lg="1" md-rowspan-xl="1" md-colspan="1" md-colspan-xs="1" md-colspan-sm="1"
                              md-colspan-md="1" md-colspan-lg="1" md-colspan-xl="1"
                              ng-class="tile.background">
                    <div layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
                         layout-xl="column" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                         layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                        <md-icon md-svg-icon="../../img/Icons/box.svg" class="iconSvg"></md-icon>
                        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                             layout-xl="row" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                             layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                            <div layout="column" layout-xs="column" layout-sm="column" layout-md="column"
                                 layout-lg="column"
                                 layout-xl="column">
                                <h4 class="md-headline">پکیج شماره یک:</h4>
                                <h5 class="md-subhead">قیمت:50000ریال</h5>
                                <h5 class="md-subhead">تعداد نقطه:یک نقطه</h5>
                                <h5 class="md-subhead">اعتبار:یک سال</h5>
                            </div>
                        </div>
                    </div>
                    <md-grid-tile-footer layout="column" layout-xs="column" layout-sm="column" layout-md="column"
                                         layout-lg="column" layout-xl="column" layout-align="center"
                                         layout-align-xs="center" layout-align-sm="center" layout-align-md="center"
                                         layout-align-lg="center" layout-align-xl="center">
                        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                             layout-xl="row" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                             layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                            <md-button md-no-ink class="md-primary">خرید</md-button>
                        </div>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green" md-rowspan="1" md-rowspan-xs="1" md-rowspan-sm="1" md-rowspan-md="1"
                              md-rowspan-lg="1" md-rowspan-xl="1" md-colspan="1" md-colspan-xs="1" md-colspan-sm="1"
                              md-colspan-md="1" md-colspan-lg="1" md-colspan-xl="1">
                    <div layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
                         layout-xl="column" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                         layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                        <md-icon md-svg-icon="../../img/Icons/box.svg" class="iconSvg"></md-icon>
                        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                             layout-xl="row" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                             layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                            <div layout="column" layout-xs="column" layout-sm="column" layout-md="column"
                                 layout-lg="column"
                                 layout-xl="column">
                                <h4 class="md-headline">پکیج شماره دو:</h4>
                                <h5 class="md-subhead">قیمت:500000ریال</h5>
                                <h5 class="md-subhead">تعداد نقطه:25 نقطه</h5>
                                <h5 class="md-subhead">اعتبار:یک سال</h5>
                            </div>
                        </div>
                    </div>
                    <md-grid-tile-footer layout="column" layout-xs="column" layout-sm="column" layout-md="column"
                                         layout-lg="column" layout-xl="column" layout-align="center"
                                         layout-align-xs="center" layout-align-sm="center" layout-align-md="center"
                                         layout-align-lg="center" layout-align-xl="center">
                        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                             layout-xl="row" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                             layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                            <md-button md-no-ink class="md-primary">خرید</md-button>
                        </div>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="blue" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
                    <div layout="column" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
                         layout-xl="column" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                         layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                        <md-icon md-svg-icon="../../img/Icons/box.svg" class="iconSvg"></md-icon>
                        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                             layout-xl="row" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                             layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                            <div layout="column" layout-xs="column" layout-sm="column" layout-md="column"
                                 layout-lg="column"
                                 layout-xl="column">
                                <h4 class="md-headline">پکیج شماره سه:</h4>
                                <h5 class="md-subhead">قیمت:10000000ریال</h5>
                                <h5 class="md-subhead">تعداد نقطه:1000 نقطه</h5>
                                <h5 class="md-subhead">اعتبار:یک سال</h5>
                            </div>
                        </div>
                    </div>
                    <md-grid-tile-footer layout="column" layout-xs="column" layout-sm="column" layout-md="column"
                                         layout-lg="column" layout-xl="column" layout-align="center"
                                         layout-align-xs="center" layout-align-sm="center" layout-align-md="center"
                                         layout-align-lg="center" layout-align-xl="center">
                        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
                             layout-xl="row" layout-align="center" layout-align-xs="center" layout-align-sm="center"
                             layout-align-md="center" layout-align-lg="center" layout-align-xl="center">
                            <md-button md-no-ink class="md-primary">خرید</md-button>
                    </md-grid-tile-footer>
                </md-grid-tile>
        </div>
    </md-dialog-content>
</md-dialog>