<md-toolbar md-theme="Khaz" class=" md-primary md-hue-2" dir="rtl" class="mainHeader" ng-controller="mainCtrl" >
    <div class="md-toolbar-tools" layout="row">
        <div layout="row" flex="300">
           <!-- <md-button class="md-fab md-mini md-warn md-hue-2 " aria-label="SideNav" ng-click="toggleRight()" > -->
            <div layout="row" flex="auto">
            <md-button  class="md-icon-button " aria-label="Menu" ng-click="toggleRight()">
                <md-icon md-font-icon="fa fa-bars fa-2x"></md-icon>
                <md-tooltip md-direction="bottom"> منو</md-tooltip>
            </md-button>
               <!-- <span  class="fa fa-ellipsis-v fa-lg"></span> -->
            </div>
           <!-- <img ng-src="../img/Icons/logo.png" style="width:64px;height: 64px; "/> -->
        </div>
        <div flex="30"></div>
        <div layout="row" layout-xs="row" flex="100" layout-align="end top" ng-show="!isUser">
            <md-button class="md-raised md-accent md-hue-2" ng-click="login()">ورود</md-button>
            <md-button class="md-raised md-warn " ng-click="register()">ثبت نام</md-button>
        </div>
       <!-- <h2 class="md-display-4">صفحه اصلی</h2> -->
    </div>
</md-toolbar>