<md-toolbar md-theme="agreedGreen" class=" md-primary md-hue-2" dir="rtl" class="mainHeader" ng-controller="mainCtrl">
    <div class="md-toolbar-tools" layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row"
         layout-xl="row">
        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex="300"
             flex-xs="300" flex-sm="300" flex-md="300" flex-lg="300" flex-xl="300">
            <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"
                 flex="auto" flex-xs="auto" flex-sm="auto" flex-md="auto" flex-lg="auto" flex-xl="auto">
                <md-button class="md-icon-button " aria-label="Menu" ng-click="toggleRight()" ng-disabled="!isUser" ng-show="isUser">
                    <md-icon md-font-icon="fa fa-bars fa-2x"></md-icon>
                    <md-tooltip md-direction="bottom"> منو</md-tooltip>
                </md-button>
            </div>
        </div>
        <div flex="30" flex-xs="30" flex-sm="30" flex-md="30" flex-lg="30" flex-xl="30"></div>
        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex="100"
             flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" layout-align="end top"
             layout-align-sm="end top" layout-align-md="end top" layout-align-lg="end top" layout-align-xl="end top"
             ng-show="!isUser">
            <md-button class="md-raised md-accent md-hue-2" ng-click="login()">ورود</md-button>
            <md-button class="md-raised md-warn " ng-click="register()">ثبت نام</md-button>
        </div>
        <!-- <h2 class="md-display-4">صفحه اصلی</h2> -->
        <div flex></div>
        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row">
            <img ng-src="../img/Icons/logo2.png" style="width:150px;height:150px;margin-top:4px;"/>
        </div>
    </div>
</md-toolbar>