<div layout="column" ng-controller="mainCtrl"  ng-init="initVar()" style="height:100%;width:100%; ">
    <header>
            <div ng-include="'./templates/Panel/header.html'"></div>
            <div ng-include="'./templates/Panel/sideNav.html'"></div>
    </header>
    <!--<div flex layout="row"> -->
    <md-content layout="column" flex="100">
        <div ui-view="mainContent" flex="100"></div>
    </md-content>
    <footer style="background-color:#2E7D32;height: 300px;" layout="column">
        <div layout="row" layout-align="center">
            <a style="color:white; text-decoration: none;" ui-sref=".aboutUs">
                <h6>درباره ما</h6>
            </a>
            <div flex="5"></div>
            <md-divider style="border-color:white; border-width:1px; border-style: dashed;"></md-divider>
            <div flex="5"></div>
            <a style=" color:white;text-decoration: none;" ui-sref=".contactUs">
                <h6>تماس با ما</h6></a>
            <div flex="5"></div>
            <md-divider style="border-color:white; border-width:1px; border-style: dashed;"></md-divider>
            <div flex="5"></div>
            <a style=" color:white;text-decoration: none;" ui-sref=".rules">
                <h6>قوانین و مقررات</h6>
            </a>
            <div flex="5"></div>
            <md-divider style="border-color:white; border-width:1px; border-style: dashed;"></md-divider>
            <div flex="5"></div>
            <a style=" color:white;text-decoration: none;" ui-sref=".guide">
                <h6>راهنمای سایت</h6>
            </a>
        </div>
        <div layout="row" layout-align="center">
            <md-button  class="md-icon-button " aria-label="feed" >
                <md-icon md-font-icon="fa fa-google-plus-square fa-lg"></md-icon>
            </md-button>
            <md-button  class="md-icon-button " aria-label="feed" >
                <md-icon md-font-icon="fa fa-instagram fa-lg"></md-icon>
            </md-button>
            <md-button  class="md-icon-button " aria-label="feed" >
                <md-icon md-font-icon="fa fa-twitter-square fa-lg"></md-icon>
            </md-button>
            <md-button  class="md-icon-button " aria-label="feed" >
                <md-icon md-font-icon="fa fa-facebook-official fa-lg"></md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center">
            <h5 style=" color:white;">طراحی و توسعه توسط آرشین</h5>
        </div>
        <div layout="row" layout-align="center">
            <h6 style=" color:white;">&#169کلیه حقوق مادی و معنوی این سایت متعلق است به...</h6>
        </div>
    </footer>
</div>