<div ng-controller="mainCtrl" ng-init="initVar()" style="height:100%;"  layout-fill>
  <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4" layout="column" style="height:100%;" >
     <md-toolbar md-theme="Khaz" class="md-tall md-primary md-hue-2" >
        <div class="md-toolbar-tools" layout="column" layout-fill layout-align="center" >
            <div layout="row" layout-align="center" flex="100">
               <div lsyout="column"  flex="100">
                   <div layout="row">
                       <span class="md-headline">{{U.name}}</span>
                       <md-icon class="fa fa-user-circle-o fa-4x"></md-icon>
                   </div>
                   <span class="md-subhead description ">اعتبار:{{U.credit}} , امتیاز:{{U.bonus}}</span>
                   <div layout="row">
                       <md-button class="md-raised md-accent md-hue-2" ng-click="logOut()" ng-show="isUser">خروج </md-button>
                   </div>
            </div>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-margin dir="rtl" layout-align="center center">
        <div id="mySidenav" class="sidenav" ng-show="isUser" layout-align="center center">
            <div class="SNav_items">
                <span class="fa fa-address-card fa-lg"></span>
                 <a ui-sref="panel" class="menuItems" >حساب کاربری من</a>
                </div>
            <div class="SNav_items">
                <span class="fa fa-heart fa-lg"></span>
                 <a href="#" class="menuItems"> مکان های منتخب من</a>
            </div>
            <div class="SNav_items">
                <span class="fa fa-map-marker fa-lg"></span>
                 <a ng-click="addPoint()" class="menuItems" > ثبت یک مکان جدید </a>
            </div>
            <div class="SNav_items">
                <span class="fa fa-map-marker fa-lg"></span>
                <a ng-click="addPersonalPoint()" class="menuItems"> ثبت یک مکان خصوصی </a>
            </div>
        </div>
    </md-content>
</md-sidenav>
    </div>