<div ng-controller="mainCtrl" style="height:100%;"  layout-fill>
  <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4" layout="column" style="height:100%;" >
     <md-toolbar md-theme="Khaz" class="md-tall md-primary md-hue-2" >
        <div class="md-toolbar-tools" layout="column" layout-fill layout-align="center" >
            <div layout="row" layout-align="center" flex="100">
               <div lsyout="column"  flex="100">
                   <div layout="row">
                       <span class="md-headline">{{U.name}}</span>
                       <md-icon class="fa fa-user-circle-o fa-4x"></md-icon>
                   </div>
                   <span class="md-subhead description ">اعتبار:{{U.credit}} , امتیاز:{{U.bonus}}</span>
                   <div layout="row">
                       <md-button class="md-raised md-accent md-hue-2" ng-click="logOut()" ng-show="isUser">خروج </md-button>
                   </div>
            </div>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-margin dir="rtl" layout-align=" center">
          <div  class="sidenav" ng-show="isUser"  layout="column" align="center">
              <div >
                  <span class="fa fa-address-card fa"></span>
                   <a ui-sref="panel"class="menuItems"  ><h6>حساب کاربری من</h6></a>
                  </div>
              <md-divider></md-divider>
              <div >
                  <span class="fa fa-heart fa"></span>
                   <a href="#" class="menuItems"><h6> مکان های منتخب من</h6> </a>
              </div>
              <md-divider></md-divider>
              <div >
                  <span class="fa fa-map-marker fa"></span>
                   <a class="menuItems" ng-click="addPoint()" ><h6>  ثبت یک مکان جدید</h6> </a>
              </div>
              <md-divider></md-divider>
              <div>
                  <span class="fa fa-map-marker fa"></span>
                  <a ng-click="addPersonalPoint()" class="menuItems"> <h6>ثبت یک مکان خصوصی</h6> </a>
              </div>
          </div>

      </md-content>
  </md-sidenav>
      </div>