<div ng-controller="userCtrl">
    <!-- <div ng-include="'./templates/Panel/header.html'"></div> -->
    <md-toolbar md-theme="NewTheme" class=" md-primary md-hue-2" dir="rtl" class="mainHeader">
        <div layout="row" flex="100" layout-align="end center" class="md-accent">
            <div flex="5"></div>
            <h2 class="md-headline">پنل کاربر</h2>
            <div flex></div>
            <md-button class="md-fab md-mini md-accent md-hue-2" aria-label="go home" ng-click="takeMeHome()">
                <md-icon md-font-icon="fa fa-home fa-2x"></md-icon>
            </md-button>
            <md-menu style="font-family: Koodak;">
               <md-button class="md-fab md-mini md-accent md-hue-2" aria-label="Usr" ng-click="openMenu($mdOpenMenu,$event)">
                   <md-icon md-font-icon="fa fa fa-user-o fa-2x"></md-icon>
               </md-button>
               <md-menu-content width="3">
                  <md-menu-item>
                    <md-button>
                       <md-icon md-font-icon="fa fa-usd fa-lg"> افزایش اعتبار</md-icon>
                    </md-button>
                   </md-menu-item>
                   <md-menu-divider></md-menu-divider>
                   <md-menu-item>
                       <md-button ng-click="logOut()">
                           <md-icon md-font-icon="fa fa-sign-out fa-lg"> خروج</md-icon>
                       </md-button>
                   </md-menu-item>
               </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="ویرایش اطلاعات">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/EditInfo.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="تغییر رمز عبور">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/passChange.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label=" نقاط من">
                <md-content class="md-padding">
                   <div ng-include="'./templates/Panel/userPanelItems/UsrPoints.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label=" نقاط شخصی من">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/usrPersonalPoints.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="لیست دوستان و گروه ها">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/FriendsGroups.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="پیغام های شخصی">
                <md-content class="md-padding">
                   <p>My Messages</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>