<div>
    <!-- <div ng-include="'./templates/Panel/header.html'"></div> -->
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="ویرایش اطلاعات">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/EditInfo.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="تغییر رمز عبور">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/passChange.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label=" نقاط من">
                <md-content class="md-padding">
                   <p>My Points</p>
                </md-content>
            </md-tab>
            <md-tab label="لیست دوستان و گروه ها">
                <md-content class="md-padding">
                    <div ng-include="'./templates/Panel/userPanelItems/FriendsGroups.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="پیغام های شخصی">
                <md-content class="md-padding">
                   <p>My Messages</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>