<div ng-controller="panelCtrl">
    <md-toolbar md-theme="NewTheme" class=" md-primary md-hue-2" dir="rtl" class="mainHeader">
        <div layout="row" layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex="100"
             flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" layout-align="end center"
             layout-align-xs="end center" layout-align-sm="end center" layout-align-md="end center"
             layout-align-lg="end center" layout-align-xl="end center" class="md-accent">
            <div flex="5" flex-xs="5" flex-sm="5" flex-md="5" flex-lg="5" flex-xl="5"></div>
            <h3>پنل کاربر</h3>
            <div flex></div>
            <a ui-sref="home">
                <md-button class="md-fab md-mini md-accent md-hue-2" aria-label="go home">
                    <md-icon md-font-icon="fa fa-home fa-2x"></md-icon>
                    <md-tooltip md-direction="bottom"> رفتن به خانه</md-tooltip>
                </md-button>
            </a>
            <md-menu>
                <md-button class="md-fab md-mini md-accent md-hue-2" aria-label="Usr"
                           ng-click="openMenu($mdOpenMenu,$event)">
                    <md-icon md-menu-origin md-font-icon="fa fa fa-user fa-2x"></md-icon>
                    <md-tooltip md-direction="bottom"> کاربر</md-tooltip>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item class="menuItem">
                        <md-button ng-click="showOffers($event)">
                            <md-icon md-menu-align-target md-font-icon="fa fa-usd fa-lg"><span
                                    style="font-family: IRANSans; font-size: medium;">افزایش اعتبار</span></md-icon>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item class="menuItem">
                        <md-button ng-click="logOut()">
                            <md-icon md-menu-align-target md-font-icon="fa fa-sign-out fa-lg"><span
                                    style="font-family: IRANSans; font-size: medium;">خروج </span></md-icon>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content class="md-padding" flex="100" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <md-tabs md-selected="selectedIndex" md-stretch-tabs="never"
                 md-center-tabs="true" md-dynamic-height md-border-bottom>
            <md-tab label="ویرایش اطلاعات" ui-sref=".edit">
                <md-content class="md-padding">
                    <!--  <div ng-include="'./templates/Panel/userPanelItems/EditInfo.html'"></div> -->
                    <div ui-view="edited"></div>
                </md-content>
            </md-tab>
            <md-tab label="تغییر رمز عبور" ui-sref=".passChange">
                <md-content class="md-padding">
                    <!-- <div ng-include="'./templates/Panel/userPanelItems/passChange.html'"></div> -->
                    <div ui-view="passChange"></div>
                </md-content>
            </md-tab>
            <md-tab label=" نقاط من" ui-sref=".usrPoints">
                <md-content class="md-padding">
                    <!--  <div ng-include="'./templates/Panel/userPanelItems/UsrPoints.html'"></div> -->
                    <div ui-view="usrPoints"></div>
                </md-content>
            </md-tab>
            <md-tab label=" نقاط شخصی من" ui-sref=".usrPersonalPoints">
                <md-content class="md-padding">
                    <!--   <div ng-include="'./templates/Panel/userPanelItems/usrPersonalPoints.html'"></div> -->
                    <div ui-view="usrPersonalPoints"></div>
                </md-content>
            </md-tab>
            <md-tab label=" دوستان" ui-sref=".friends">
                <md-content class="md-padding">
                    <div ui-view="friends"></div>
                </md-content>
            </md-tab>
            <md-tab label=" گروه ها" ui-sref=".groups">
                <md-content class="md-padding">
                    <div ui-view="groups"></div>
                </md-content>
            </md-tab>
            <md-tab label="پیغام های شخصی" ui-sref=".messages">
                <md-content class="md-padding">
                    <!--  <div ng-include="'./templates/Panel/userPanelItems/messages.html'"></div> -->
                    <div ui-view="messages"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>