<md-content layout="column" dir="rtl" ng-controller="friendsCtrl" ng-init="initFriends()">
   <!-- <p class="md-headline">لسیت دوستان :</p>
   <div class="chip" ng-repeat="friend in myFriends">
       <img src="../img/Avatar/img_avatar3.png" alt="Person" width="96" height="96">
      {{friend}}
       <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
   </div> -->

        <md-select placeholder="نمایش" class="md-no-underline" ng-model="selectedFeature">
           <md-option ng-value="feature" ng-repeat="feature in availableFeatures">{{feature}}</md-option>
        </md-select>

       <md-divider></md-divider>

</md-content>