<md-dialog flex="60" flex-xs="60" flex-sm="60" flex-md="60" flex-lg="60" flex-xl="60" aria-label="composeMessage"
           ng-controller="mapCtrl" ng-init="initStuff()" flex="90" flex-xs="90" flex-sm="90" flex-md="90" flex-lg="90"
           flex-xl="90" style="width:100%;height:100%;">
    <md-toolbar md-theme="NewTheme" class="md-primary md-hue-2">
        <div dir="rtl" class="md-toolbar-tools" layout="row">
            <h2 class="md-display-2">مسیریابی</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-lg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="row" layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column"
                       layout-xl="column" flex="100" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100"
                       flex-xl="100">
        <div layout="row" layout-xs="column" layout-md="column" layout-lg="column" layout-xl="column" layout-margin
             flex="50">
            <div id="myMap" style="height: 100%;width:600px;z-index:1000;"></div>
        </div>
        <div id="right-panel" style=" height: 100%; float: right;width: 400px; overflow: auto;" flex="50">

        </div>
    </md-dialog-content>
</md-dialog>