<div ng-controller="msgCTRL" ng-init="msgInit()">
    <md-content layout="column">
        <div class="animate-switch-container" ng-switch on="thereIsNoMsg">
            <div class="animate-switch" ng-switch-when="true">صندوق پیام ها خالی است.</div>
            <div class="animate-switch" ng-switch-when="false">
                <md-list class="md-dense" flex>
                    <md-list-item ng-repeat="message in inboxMsgs"  class="noleft">
                        <img src="../img/Avatar/img_avatar3.png" alt="Person" class="md-avatar" width="96" height="96"/>
                        <p>{{message.point_code}}:{{message.sender}} </p>
                        <md-icon class="md-secondary"  aria-label="readMsg"  md-font-icon="fa fa-envelope"></md-icon>
                        <p>{{message.sent_time | date : "h:mma"}}</p>
                        <md-divider></md-divider>
                        <!-- TODO: NEED TO ADD FORMATTED TIME IN THE VIEW -->
                    </md-list-item>
                </md-list>
            </div>
            </div>
    </md-content>
</div>