<md-dialog aria-label="reviewPointInfo" ng-controller="pointInfoCtrl" ng-init="initPoint()" >
    <md-toolbar md-theme="NewTheme" class="md-primary md-hue-2">
        <div dir="rtl" class="md-toolbar-tools" layout="row">
            <h2 class="md-display-2">{{point.name}}</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-lg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
        <md-dialog-content layout-fill layout="column"  layout-align="center">
            <div layout="row" layout-align="center" flex="50">
            <md-card flex="50">
                <img src="../img/BGs/card-imgs/1 (1).jpg" class="md-card-image" alt="{{point.description}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{point.name}}</span>
                        <span class="md-subhead">امتیاز: {{point.rate}}, محبوبیت: {{point.popularity}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <span class="md-subhead">کدنقطه: {{point.code}}</span>
                    <span class="md-subhead">آدرس: {{point.address}}</span>
                    <span class="md-subhead">توضیحات: {{point.description}}  </span>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-font-icon="fa fa-heart fa-lg"></md-icon>
                        <md-tooltip md-direction="top"> موردعلاقه</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-font-icon="fa fa-map fa-lg"></md-icon>
                        <md-tooltip md-direction="top"> مسیریابی</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share" ng-click="shareIt(point)">
                        <md-icon md-font-icon="fa fa-share-alt fa-lg"></md-icon>
                        <md-tooltip md-direction="top"> اشتراک گذاری</md-tooltip>
                    </md-button>
                </md-card-actions>
            </md-card>
                </div>
        </md-dialog-content>
</md-dialog>