<div ng-controller="userCtrl" ng-init="initVars()" ng-cloak>
    <md-content layout="row">
      <!--  <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{myPoint.name}}</span>
                    <span class="md-subhead">ادرس:{{myPoint.address}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">

                        <img src="../../../img/Icons/location_marker3.png"/>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>مشاهده</md-button>
                <md-button>حذف</md-button>
            </md-card-actions>
        </md-card>  -->
        <!-- TODO: show points detailed info on md-dialog with an md-card -->
        <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky">مجموعه نقاط اضافه شده در یک نگاه:</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="myPoint in myPoints" ng-click="showPointDetails(myPoint,$event)">
                <img src="../img/Icons/location_marker.png" class="md-avatar" alt="{{myPoint.name}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ myPoint.name }}</h3>
                    <h5>{{ myPoint.address }}</h5>
                    <p>{{ myPoint.description }}</p>
                </div>
            </md-list-item>
    </md-content>
</div>